<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Test suite [Default suite]">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNGTest.TestNG_Test">     
      </class> 
    </classes>
  </test> 
</suite>
